<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @programa_formacion.nombre %>
</p>

<%= link_to 'Edit', edit_programa_formacion_path(@programa_formacion) %> |
<%= link_to 'Back', programa_formacions_path %>
